@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

body{
    min-height: 100vh;
    background-color: #D9D9D9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

header{
    position: absolute;
    width: 100%;
    min-height: 66px;
    background: #E14444;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    color: black;
    font-size: 1.75em;
    font-weight: 600;
    text-decoration: none;
}

header ul{
    position: relative;
}

header ul li{
    position: relative;
    list-style: none;
    float: left;
}

header ul li a{
    color: black;
    font-size: 1.1em;
    padding: 20px 20px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

header ul li a:hover{
    background-color:  #C30A14;
}

header ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #6A7B7C;
    display: none;
}

header ul li:hover ul{
    display: block;
}

header ul li ul li{
position: relative;
width: 100%;
border: 1px solid rgba(0, 0, 0, 0.2);
}

header ul li ul li ul{
    top: 0;
    left: 200px;
}

@media (max-width: 900px){
    header{
        padding: 10px 20px;
    }
    header nav{
        position: absolute;
        width: 100%;
        top: 66px;
        left: 0;
        background: #E14444;
        display: none;
    }
    header.active nav{
        display: initial;
    }
    header nav ul li{
        width: 100%
    }
    header nav ul li ul{
        position: relative;
        width: 100%;
        left:0;
    }
    header ul li ul li ul{
        top: 0;
        left: 0;
    }
    header nav ul li:hover ul li{
        background: #6A7B7C;
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuToggle::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: white;
        transform: translateY(-12px);
        box-shadow: 0 12px white;
    }
    .menuToggle::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: white;
        transform: translateY(12px);
    }
    header.active .menuToggle::before{
        transform: rotate(45deg);
        box-shadow: 0 0 white;        
    }
    header.active .menuToggle::after{
        transform: rotate(315deg);
        /* box-shadow: 0 12px white;  */
    }
}

section#About_PETCH{
    /* position: absolute; */
    padding-top: 70px;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

.topic{
    margin-left: 10px;
    font-size: 2rem;
    font-family: 'Mitr', sans-serif;
}

.container{
    padding-top: 5px;
    max-width: 100%;
    margin: 0 auto;
    /* border: 1px solid red; */
    text-align: center;
    display: flex;
    justify-content: left;
    align-items:end
}

img.cer{
    display: flex;
    max-width: 50%;
    height: auto;
    float:left;
}

p.descr1{
    width: 50%;
    padding: 0.5rem;
    font-size: 90%;
    background-color: #C30A14;
    color: white;
}

p.descr2{
    width: 50%;
    padding: 0.5rem;
    font-size: 90%;
    background-color: #6A7B7C;
    color: white;
}

.containerEDU{
    /* padding-top: 5px; */
    width: 100%;
    max-height: auto;
    margin: 0 auto;
    /* border: 1px solid red; */
    padding: 2%;
    text-align: center;
    display: flex;
    /* justify-content: ; */
    align-items:center;
}

img#logo1{
    display: flex;
    width: 40%;
    height: auto;
    float:left;
    padding: 2%;
    border: 0.5em solid #E36968;
    border-radius: 25%;
}

img#logo2{
    display: flex;
    width: 40%;
    float:left;
    border: 0.5em solid #E24445;
    border-radius: 20%;
    /* border-top-left-radius: 25%;
    border-bottom-left-radius: 25%; */
}

img#logo3{
    display: flex;
    width: 40%;
    float:left;
    border: 0.5em solid #C20A14;
    border-radius: 20%;
}

#descrEDU1{
    font-size: 1.2em;
    background-color: #E36968;
    padding: 0.5rem;
    color: #fff;
}

#descrEDU2{
    background-color: #E24445;
    padding: 0.5rem;
    color: #fff;
    font-size: 1.2em;
}

#descrEDU3{
    background-color: #C20A14;
    padding: 0.5rem;
    color: #fff;
    font-size: 1.2em;
}

#containerAbout{
    border: 1px solid blue;
}

#profile1{
    border-radius: 50%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border:6px solid #C30A14;
    padding: 0.5rem;
}

#blank{
    margin: 0 auto;
    width: 100%;
    height: 90px;
}

footer.container{
    background-color: #E14444;
    width: 100px;
    height: 200px;
}